[{:db/ident :student/first
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :student/last
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :student/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :semester/year
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}
 {:db/ident :semester/season
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/ident :semester/year+season
  :db/valueType :db.type/tuple
  :db/tupleAttrs [:semester/year :semester/season]
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :course/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one}
 {:db/ident :course/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}]

[{:db/ident :reg/course
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :reg/semester
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :reg/student
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}]

[{:db/ident :reg/course+semester+student
  :db/valueType :db.type/tuple
  :db/tupleAttrs [:reg/course :reg/semester :reg/student]
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}]
