[{:db/ident         :monster/name
  :db/unique        :db.unique/identity
  :db/valueType     :db.type/string
  :db/cardinality   :db.cardinality/one}
 {:db/ident         :monster/heads
  :db/valueType     :db.type/long
  :db/cardinality   :db.cardinality/one}]

[{:monster/name "Cerberus"
  :monster/heads 3}
 {:monster/name "Medusa"
  :monster/heads 1}
 {:monster/name "Cyclops"
  :monster/heads 1}
 {:monster/name "Chimera"
  :monster/heads 1}]
