;; People have names and streets
[{:db/ident         :person/name
  :db/unique        :db.unique/identity
  :db/valueType     :db.type/string
  :db/cardinality   :db.cardinality/one}
 {:db/ident         :person/street
  :db/valueType     :db.type/string
  :db/cardinality   :db.cardinality/one}
 {:db/id "datomic.tx"
  :db/txInstant #inst "1970"}]

;; Some people and their streets
[{:person/name "John"
  :person/street "Main"}
 {:person/name "Joe"
  :person/street "1st"}
 {:person/name "Mary"
  :person/street "Elm"}
 {:db/id "datomic.tx"
  :db/txInstant #inst "1980"}]

;; Mary and Joe both moved at the same time
[{:db/id [:person/name "Mary"]
  :person/street "2nd"}
 {:db/id [:person/name "Joe"]
  :person/street "Broadway"}
 {:db/id "datomic.tx"
  :db/txInstant #inst "1983"}]

;; John moved to Ash st.
[{:db/id [:person/name "John"]
  :person/street "Ash"}
 {:db/id "datomic.tx"
  :db/txInstant #inst "1986"}]

;; John moves a lot
[{:db/id [:person/name "John"]
  :person/street "3rd"}
 {:db/id "datomic.tx"
  :db/txInstant #inst "1989"}]
