{:deps
 {org.clojure/data.generators {:mvn/version "0.1.2"}
  com.datomic/client {:mvn/version "0.8.34"}
  com.datomic/client-impl-cloud {:mvn/version "0.8.35"}
  seesaw/seesaw {:mvn/version "1.4.5"}}
 :paths ["src" "tutorial" "resources"]}
