{:deps
 {org.clojure/data.csv {:mvn/version "0.1.4"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/data.generators {:mvn/version "0.1.2"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  com.datomic/client-cloud {:mvn/version "0.8.96"}
  com.datomic/dev-local {:mvn/version "0.9.172"}
  seesaw/seesaw {:mvn/version "1.4.5"}}
 :paths ["src" "tutorial" "doc-examples" "resources"]
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {;; edit this if you're using a newer version of REBL
  :rebl  {:extra-deps {com.cognitect/rebl {:local/root "REBL-0.9.220.jar"}}}
  ;; See https://github.com/cognitect-labs/REBL-distro/wiki/REBL-and-nREPL
  :nREPL {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}}}}
