{:paths ["src" "resources"]
 :deps {com.datomic/ion {:mvn/version "0.9.34"}
        org.clojure/clojure {:mvn/version "1.10.0"}
        com.datomic/ion-dev {:mvn/version "0.9.229"}
        com.datomic/client-cloud {:mvn/version "0.8.71"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.71"}
                     com.datomic/ion-dev {:mvn/version "0.9.229"}}}}}
